@import "tailwindcss";

*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
}


@layer utility{
    
    .btn{
        @apply flex gap-2 items-center justify-center py-1.5 px-3 rounded-md cursor-pointer transition-all duration-200 overflow-hidden;
    }

    .hover-li{
        @apply py-1 px-10 hover:bg-white/40 rounded-full transition-colors duration-500 cursor-pointer md:px-4
    }

    .inpt{
        @apply w-full h-9 border-[0.5px] border-white/50 bg-gray-50/20 outline-none text-white/60 px-2 rounded-md
    }

    .heading{
        @apply text-4xl md:text-5xl font-bold bg-gradient-to-b from-white from-0% to-white/10 to-100% text-transparent bg-clip-text py-2
    }

    .insightCard{
        @apply p-2 flex flex-col border-[1px] border-white/20 rounded-md w-full
    }
    .fade{
        @apply text-white/70
    }
    .box{
        @apply p-2 w-full border-[1px] border-white/20 rounded-md
    }
    .quiz-div{
        @apply w-full border-[1px] border-white/40 rounded-md py-2 px-4 text-white mt-8 mx-auto
    }
    .sub-heading{
        @apply text-xl md:text-2xl font-semibold text-white/70
    }
    .border{
        @apply border-[1px] border-white/40 p-2 rounded-md
    }
}


.flashBtn ::after{
    content: "";
    position: absolute;
    z-index: 10;
    top:0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,
            rgba(255, 0, 0, 0.252) 16%,
            rgba(255, 0, 43, 0.256) 32%,
            rgba(0, 0, 255, 0.211) 48%,
            rgba(255, 0, 0, 0.259) 64%,
            rgba(252, 0, 42, 0.241) 80%,
            rgba(0, 0, 255, 0.212) 100%);
    background-size: 200% 100%;
    background-repeat: repeat-x;
    animation: 0.7s moving linear infinite;
    mix-blend-mode:exclusion;
}

@keyframes moving {
    0% {
        background-position: 0% 0%;
    }

    100% {
    background-position: -100% 0%;
    }
}



@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.rotate-border::after ,.rotate-border::before{
    position: absolute;
    content: " ";
    top:50%;
    left:50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    will-change: var(--angle);
    background-image: conic-gradient(from var(--angle), transparent 10%,red 40%,blue 80%,transparent 100%);
    animation: spinn  1s linear infinite;
}


.rotate-border::before{
    filter: blur(6px);
}

@keyframes spinn{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}